{% extends 'frontend/shared/home.html' %}
{% load form_tags %}
{% load static %}
<title>{% block title %} {{ new.title }}{% endblock title %}</title>
{% block body %}
{% include 'frontend/partials/_head.html' %}

<section class="blog-details-area ptb-100">
        <div class="container">
                <div class="row">
                        <div class="col-lg-8 col-md-12">
                                <div class="blog-details-desc">
                                        <div class="article-image">
                                                <img src="{{ new.banner.url }}" alt="image">
                                        </div>
                                        <div class="article-content">
                                                <div class="entry-meta">
                                                        <ul>
                                                                <li><span>ارسال در:</span> <a href="#">{{ new.published_at|jalali_date }}</a></li>
                                                                <li><span>توسط:</span> <a href="#">{{ new.author.first_name }}</a></li>
                                                                <li><i class ="bx bx-show"></i> :  <span>{{ new.views }}</span> </li>
                                                        </ul>
                                                </div>
                                                <h3>{{ new.title }}</h3>
                                                <blockquote class="flaticon-quote">
                                                        <p>{{ new.summary }}</p>
                                                </blockquote>
                                                <p>{{ new.content | striptags |safe }}</p>

                                        </div>
                                        <div class="article-footer">
                                                <div class="article-tags">
                                                        <span><i class='bx bx-share-alt'></i></span>
                                                        <a href="#">اشتراک گذاری</a>
                                                </div>
                                                <div class="article-share">
                                                        <ul class="social">
                                                                <li>
                                                                        <a href="#" target="_blank">
                                                                                <i class='bx bxl-facebook'></i>
                                                                        </a>
                                                                </li>
                                                                <li>
                                                                        <a href="#" target="_blank">
                                                                                <i class='bx bxl-twitter'></i>
                                                                        </a>
                                                                </li>
                                                                <li>
                                                                        <a href="#" target="_blank">
                                                                                <i class='bx bxl-linkedin'></i>
                                                                        </a>
                                                                </li>
                                                                <li>
                                                                        <a href="#" target="_blank">
                                                                                <i class='bx bxl-pinterest-alt'></i>
                                                                        </a>
                                                                </li>
                                                        </ul>
                                                </div>
                                        </div>
                                </div>
                        </div>
                        <div class="col-lg-4 col-md-12">
                                <aside class="widget-area" id="secondary">
                                        <div class="widget widget_search">
                                                <h3 class="widget-title">جستجو کنید</h3>
                                                <div class="post-wrap">
                                                        <form class="search-form" method="GET" action="/search/">
                                                                <label>
                                                                        <span class="screen-reader-text">جستجو
                                                                                کنید:</span>
                                                                        <input type="search" class="search-field" id="q"
                                                                                name="q" placeholder="جستجو ...">
                                                                </label>
                                                                <button type="submit"><i
                                                                                class='bx bx-search'></i></button>
                                                        </form>

                                                </div>
                                        </div>

                                       {% include 'frontend/includes/_favorites.html' %}
                                       {% include 'frontend/includes/_archives.html' %}
                                       {% include 'frontend/includes/_categories.html' %}
                                        <section class="widget widget_tag_cloud">
                                                <h3 class="widget-title">برچسب ها</h3>
                                                <div class="post-wrap">
                                                        <div class="tagcloud">

                                                                {% for tag in new.tags.all %}
                                                                <a href="#">{{ tag.title }} </a>

                                                                {% endfor %}
                                                        </div>
                                                </div>
                                        </section>
                                </aside>
                        </div>
                </div>
        </div>
</section>


{% endblock %}