dump.rdb
postgres-duc.txt
README.md
media
data
.vscode
# comment
*/temp*
*/*/temp*
temp?
*.md
!README*.md
README-secret.md
!README*.md
node_modules/*
.git/*
.idea/*
venv
/venv
/venv/
/venv/*
local_settings.py
.env
*.mo
__pycache__/
db.sqlite3
*.pyc
*.log
*.pot
