{% extends 'frontend/shared/home.html' %}
{% block title %}تماس با ما{% endblock %}
{% block body %}

<div class="sidebar-modal">
  <div class="modal right fade" id="myModal2">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">
              <i class="bx bx-x"></i>
            </span>
          </button>
          <h2 class="modal-title">
            <a href="index.html">
              <img src="assets/img/logo.png" alt="Logo">
            </a>
          </h2>
        </div>
        <div class="modal-body">
          <div class="sidebar-modal-widget">
            <h3 class="title">درباره ما</h3>
            <p>لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم
              استاندارد صنعت بوده است. لورم ایپسوم ساختار چاپ و متن را
              در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است. لورم
              ایپسوم ساختار چاپ و متن را در بر می گیرد.</p>
          </div>
          <div class="sidebar-modal-widget">
            <h3 class="title">پیوندهای اضافی</h3>
            <ul>
              <li>
                <a href="log-in.html">وارد شوید</a>
              </li>
              <li>
                <a href="sign-in.html">ثبت نام</a>
              </li>
              <li>
                <a href="faq.html">سوالات متداول</a>
              </li>
              <li>
                <a href="#">خروج</a>
              </li>
            </ul>
          </div>
          <div class="sidebar-modal-widget">
            <h3 class="title">اطلاعات مشتری</h3>
            <ul class="contact-info">
              <li>
                <i class="bx bx-location-plus"></i>
                آدرس
                <span>ایران ، استان تهران ، میدان آزادی ، خیابان
                  9 شرقی</span>
              </li>
              <li>
                <i class="bx bx-envelope"></i>
                ایمیل
                <a href="mailto:hello@surety.com">hello@surety.com</a>
              </li>
              <li>
                <i class="bx bxs-phone-call"></i>
                تلفن
                <a href="tel:+822456974">02112345678</a>
              </li>
            </ul>
          </div>
          <div class="sidebar-modal-widget">
            <h3 class="title">با ما در ارتباط باشید</h3>
            <ul class="social-list">
              <li>
                <a href="#">
                  <i class='bx bxl-twitter'></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class='bx bxl-facebook'></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class='bx bxl-instagram'></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class='bx bxl-linkedin'></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class='bx bxl-youtube'></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="page-title-area bg-14">
  <div class="container">
    <div class="page-title-content">
      <h2>تماس با ما</h2>
      <ul>
        <li>
          <a href="index.html">
            خانه
          </a>
        </li>
        <li>تماس با ما</li>
      </ul>
    </div>
  </div>
</div>

<section class="contact-area ptb-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="contact-wrap">
          <div class="contact-form">
            <div class="section-title">
              <h2>برای هرگونه سوال پیامی برای ما ارسال کنید</h2>
            </div>
            {% if messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
              {% for m in messages %}
              <button type="button" class="btn-close btn-sm" data-bs-dismiss="alert" aria-label="Close"></button>
              <div>{{ m }}</div>
              {% endfor %}
            </div>
            {% endif %}
            <form id="post_form" method="POST" action="" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="row">
                <div class="col-lg-6 col-sm-6">
                  <div class="form-group">
                    <input type="email" name="email" id="email" class="form-control" required placeholder="ایمیل شما">
                    {% for error in form.errors.subject %}
                    <p class="text-danger">{{ error }}</p>
                    {% endfor %}

                  </div>
                </div>
                <div class="col-lg-6 col-sm-6">
                  <div class="form-group">
                    <input type="text" name="subject" id="subject" class="form-control" required
                      data-error="لطفا موضوع خود را وارد کنید" placeholder="موضوع شما">
                    {% for error in form.errors.subject %}
                    <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                  </div>
                </div>
                <div class="col-lg-12 col-md-12">
                  <div class="form-group">
                    <textarea name="content" class="form-control" id="content" cols="30" rows="5" required
                      data-error="پیام خود را بنویسید" placeholder="پیام شما"></textarea>
                    {% for error in form.errors.subject %}
                    <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                  </div>
                </div>
                <div class="col-lg-12 col-md-12">
                  <button type="submit" class="default-btn btn-block page-btn">
                    ارسال پیام
                  </button>
                  <div id="msgSubmit" class="h3 text-center hidden">
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="quick-contact">
          <h3>تماس سریع </h3>
          <ul>
            <li>
              <i class="flaticon-maps-and-flags"></i>
              موقعیت:
              <span> ایران ، استان تهران ، میدان آزادی ، خیابان 9 شرقی
              </span>
            </li>
            <li>
              <i class="flaticon-call"></i>
              تماس با ما:
              <a href="tel:+0(321)984754">02112345678 <br>
                02187654321</a>
            </li>
            <li>
              <i class="flaticon-email"></i>
              ایمیل ما:
              <a href="mailto:hello@surety.com">hello@surety.com</a>
              <a href="mailto:hello@surety.com">hello@surety.com
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="section">
  {% include "frontend/location/map.html" %}
</div>
{% endblock %}