{% load static %}

{% block script %}
		<script src="{% static 'assets/frontend/js/jquery-3.5.1.slim.min.js' %}"></script>
		<script src="{% static 'assets/frontend/js/popper.min.js' %}"></script>
		<script src="{% static 'assets/frontend/js/bootstrap.min.js' %}"></script>
		<script src="{% static 'assets/frontend/js/jquery.meanmenu.js' %}"></script>
		<script src="{% static 'assets/frontend/js/wow.min.js' %}"></script>
		<script src="{% static 'assets/frontend/js/owl.carousel.js' %}"></script>
		<script src="{% static 'assets/frontend/js/jquery.magnific-popup.min.js' %}"></script>
		<script src="{% static 'assets/frontend/js/jquery.nice-select.min.js' %}"></script>
		<script src="{% static 'assets/frontend/js/parallax.min.js' %}"></script>
		<script src="{% static 'assets/frontend/js/jquery.mixitup.min.js' %}"></script>
		<script src="{% static 'assets/frontend/js/jquery.appear.js' %}"></script>
		<script src="{% static 'assets/frontend/js/odometer.min.js' %}"></script>
		<script src="{% static 'assets/frontend/js/jquery.ajaxchimp.min.js' %}"></script>
		<script src="{% static 'assets/frontend/js/form-validator.min.js' %}"></script>
		<script src="{% static 'assets/frontend/js/contact-form-script.js' %}"></script>
		<script src="{% static 'assets/frontend/js/custom.js' %}"></script>
		<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% endblock %}