<section class="services-area-three services-area-five pt-100 pb-70">
        <div class="container">
                <div class="section-title section-title-five">
                        <span>خدمات ما</span>
                        <h2>انواع بیمه </h2>
                        <p>لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است. لورم
                                ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است.</p>
                </div>
                <div class="row">
         
                    {% for cat in cats|slice:":6" %}
                        <div class="col-lg-4 col-sm-6">
                                <div class="single-choose">
                                        <span class="{{ cat.icon }}"></span>
                                        <h3>{{ cat.title  }}</h3>
                                        <a href="{{ cat.posts_base_on_category }}">
                                                <i class="flaticon-left"></i>
                                        </a>
                                </div>
                        </div>
                    {% endfor %}
        
                </div>
        </div>
    </section>