{% extends "backend/layouts/base.html" %} 
{% load static %}
{% block title %} Profile {% endblock %}
{% block stylesheets %}{% endblock stylesheets %}
{% block content %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">


        <form action="#" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-12 col-xl-8">
                    <div class="card card-body bg-white border-light shadow-sm mb-4">
                        <h2 class="h5 mb-4">Randon User Celery Redis</h2>
                        <div class="row">
                            <div class="col-md-12 mb-3">
                              {% include 'backend/includes/form.html' %}
                            </div>
                        </div>
                        <div class="d-grid mt-4">
                          <button type="submit" name="login" class="btn btn-gray-800">Submit</button>
                      </div>
                    </div>
                </div>
                <div class="col-12 col-xl-4">
                    <div class="row">
                        <div class="col-12 mb-4">
                            <div class="card border-light text-center p-0">
                                <div class="profile-cover rounded-top"
                                     data-background="/static/assets/backend/img/profile-cover.jpg"></div>
                                <div class="card-body pb-5">
                                    <img src="..{{ user.profile.get_avatar }}"
                                         class="avatar-xl rounded-circle mx-auto mt-n7 mb-4"
                                         alt="Neil Portrait">
                                    <h4 class="h3">{{ profile.user.username }}</h4>
                                    <h4 class="font-weight-normal">{{ profile.user.get_full_name }}</h4>
                                    <h5 class="font-weight-normal">
                                        {{ request.user.email }}
                                    </h5>
                                    <p class="text-gray mb-4">{{ profile.address|default:'' }}</p>
                                    <a class="btn btn-sm btn-gray-800 d-inline-flex align-items-center me-2" href="#">
                                      <svg class="icon icon-xs me-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M8 9a3 3 0 100-6 3 3 0 000 6zM8 11a6 6 0 016 6H2a6 6 0 016-6zM16 7a1 1 0 10-2 0v1h-1a1 1 0 100 2h1v1a1 1 0 102 0v-1h1a1 1 0 100-2h-1V7z"></path></svg>
                                      Connect
                                  </a>
                                    <a class="btn btn-sm btn-secondary" href="#">Send Message</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                          <div class="card card-body border-0 shadow mb-4">
                              <h2 class="h5 mb-4">Select profile photo</h2>
                              <div class="d-flex align-items-center">
                                  <div class="me-3">
                                      <!-- Avatar -->
                                      <img class="rounded avatar-xl" src="/static/assets/backend/img/team/profile-picture-3.jpg" alt="change avatar">
                                  </div>
                                  <div class="file-field">
                                      <div class="d-flex justify-content-xl-center ms-xl-3">
                                          <div class="d-flex">
                                              <svg class="icon text-gray-500 me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a3 3 0 00-3 3v4a5 5 0 0010 0V7a1 1 0 112 0v4a7 7 0 11-14 0V7a5 5 0 0110 0v4a3 3 0 11-6 0V7a1 1 0 012 0v4a1 1 0 102 0V7a3 3 0 00-3-3z" clip-rule="evenodd"></path></svg>
                                              <input type="file">
                                              <div class="d-md-block text-left">
                                                  <div class="fw-normal text-dark mb-1">Choose Image</div>
                                                  <div class="text-gray small">JPG, GIF or PNG. Max size of 800K</div>
                                              </div>
                                          </div>
                                      </div>
                                    </div>                                        
                              </div>
                          </div>
                      </div>
                    </div>
                </div>
            </div>
        </form>
</div>


     


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
