{% extends "backend/layouts/base-fullscreen.html" %}
{% load i18n %}

{% block title %}Password changed!{% endblock %}
{% block stylesheets %}
<style>
    .insurance-direction {
      direction: rtl !important
    }
</style>
{% endblock stylesheets %}
{% block content %}
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">{% trans "Password changed!" %}</h3>
          <div class="alert alert-success" role="alert">
            {% trans "You have successfully changed your password! You may now proceed to log in."  %}
          </div>
          <div class="row mt-3 p-2">
            <a href="{% url 'login' %}" class="btn btn-gray-800 btn-block">{% trans "Return to log in" %}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascripts %}

{% endblock javascripts %}