{% extends "backend/layouts/base-fullscreen.html" %}
{% load i18n %}

{% block title %}
  {% if validlink %}
    {% trans "Change password for" %} {{ form.user.username }}
  {% else %}
    Reset your password
  {% endif %}
{% endblock %}
{% block stylesheets %}
<style>
    .insurance-direction {
      direction: rtl !important
    }
</style>
{% endblock stylesheets %}
{% block content %}
  <div class="row justify-content-center mt-5">
    <div class="col-lg-6 col-md-8 col-sm-10">
      <div class="card">
        <div class="card-body">
          {% if validlink %}
            <h3 class="card-title">Change password for @{{ form.user.username }}</h3>
            <form method="post" novalidate>
              {% csrf_token %}
              {% include 'backend/includes/form.html' %}
              <div class="row mt-3 p-2">
              <button type="submit" class="btn btn-gray-800 mt-4">{% trans "Change password" %}</button>
              </div>
            </form>
          {% else %}
            <h3 class="card-title">{% trans "Reset your password" %}</h3>
            <div class="alert alert-danger" role="alert">
             {% trans " It looks like you clicked on an invalid password reset link. Please try again." %}
            </div>
            <div class="row mt-3 p-2">
            <a href="{% url 'password_reset' %}" class="btn btn-gray-800">{% trans "Request a new password reset link" %}</a>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascripts %}
{% endblock javascripts %}